#Logo{
    margin-top: 48px; 
    margin-bottom: 0px; 
    text-align: left;
    margin-top:10px;
    margin-bottom:10px;
}

#SiteTitle{
text-decoration:none;
font-family: Syncopate; 
font-size: 30px; 
line-height: 49px; 
color:white; 
text-shadow: rgba(0, 0, 0, 0.0980392) 0px 3px 5px, rgba(255, 255, 255, 0.298039) 0px -5px 35px; 
letter-spacing: 4px; font-weight: normal; 
font-style: normal; 
text-transform: uppercase;
font-size: 25px;
}

#TagLine{
    text-decoration:none;
    color:white; 
    line-height: 24px; 
    text-transform: none; 
    letter-spacing: 4px; 
    font-size: 16px; 
    padding-left: 2px; 
    padding-right: 2px; 
    background-color: transparent; 
    text-shadow: none;
    font-family: italic; 
    font-weight: normal; 
    font-style: normal; 
    text-decoration: initial;
 }

 body {
    background-color:none;  
    background-position: inherit inherit; 
    background-repeat: repeat repeat;
    padding-top:0px;
}    

#divBoxed {
    margin-top:10px;
}

#divFooter{
    position: fixed;
    border-radius:10px;
    background-color:#006400;
    color: rgb(211, 211, 211);
    font-family: Actor, sans-serif;
    text-transform: none;
    font-size: 12px;
    letter-spacing: 0px;
    line-height: 22px;
    margin-bottom:1px;
    height:300px;
    left: 0;
    bottom: 0;
    width:99%;
    border: 5px solid rgb(255, 255, 255); 
    border-top-left-radius: 2px;
    border-top-right-radius: 2px; 
    border-bottom-right-radius: 2px; 
    border-bottom-left-radius: 2px;
    background-repeat: repeat repeat;
}
.footer-copyright{
    position:fixed;
    background-color:#556B2F;
    height:50px;
    left:5px;
    bottom: 0;
    width:99%;
    text-align:center;;
}
.divPanel {
    padding: 10px;;;;
}
#divFooter h3 {
    font-family: 'Source Sans Pro', sans-serif; 
    font-weight: normal; 
    font-style: normal; 
    font-size: 23px; 
    line-height: 15px;
     color: rgb(211, 211, 211);
 }
#divFooter a {
color:white;
font-size: 16px; 
text-decoration: underline;
}

#divBoxed {
    position:relative;
}
 
.btn-secondary, .btn-secondary:hover {text-shadow:none;}
 
.divPanel.notop {padding-top:0px}

.divPanel.nobottom {padding-bottom:0px;background-color:green;} 


.navbar .nav-pills > li > a {text-shadow:none;font-weight:normal; }

.navbar .dropdown-menu li > a {text-shadow:none;font-weight:normal;}

.navbar .nav-pills > li > .dropdown-menu:before {border:none;}

.navbar .nav-pills > li > .dropdown-menu:after {border:none;}

.navbar .nav-pills > .active > a, .navbar .nav-pills > .active > a:hover, .navbar .nav-pills > .active > a:focus {-webkit-box-shadow: none;box-shadow: none;}

.navbar .nav-pills > li > a:hover, .navbar .nav-pills li.dropdown.open.active > .dropdown-toggle {
-webkit-transition: ease-in-out .2s;
-moz-transition: ease-in-out .2s;
-o-transition: ease-in-out .2s;
-ms-transition: ease-in-out .2s; 
transition: ease-in-out .2s;
}


a.btn, a.btn-large, a.btn-small, a.btn-mini {color:#333}

 a.btn-info, a.btn-success, a.btn-warning, a.btn-danger, a.btn-inverse {color:#ffffff}

 .btn-secondary, .btn-secondary:hover, a.btn-secondary, a.btn-secondary:hover {color:#323232;}

 .btn-secondary {border:1px solid #dfdfdf;border-bottom:1px solid #afafaf;background-color:#fafafa;background-repeat: repeat-x;background-image:-webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#e1e1e1));background-image:-webkit-linear-gradient(top, #fafafa, #e1e1e1);background-image:-moz-linear-gradient(top, #fafafa, #e1e1e1);background-image:-ms-linear-gradient(top, #fafafa, #e1e1e1);background-image:-o-linear-gradient(top, #fafafa, #e1e1e1);background-image:linear-gradient(top, #fafafa, #e1e1e1);filter: progid:dximagetransform.microsoft.gradient(startColorstr=#fafafa, endColorstr=#e1e1e1, GradientType=0);filter: progid:dximagetransform.microsoft.gradient(enabled=false);}

 .btn-secondary:hover, .btn-secondary:active, .btn-secondary.active, .btn-secondary.disabled, .btn-secondary[disabled] {background-color:blue;}

.btn-primary, .btn-primary:hover, a.btn-primary, a.btn-primary:hover {color:green;}

 .btn-primary {
 border:1px solid green;
 border-bottom:1px solid green;
 background-color:green;
 background-repeat: repeat-x;
 background-image:-webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#ffffff));background-image:-webkit-linear-gradient(top,#ffffff, #ffffff);background-image:-moz-linear-gradient(top, #ffffff, #ffffff);background-image:-ms-linear-gradient(top, #ffffff, #ffffff);background-image:-o-linear-gradient(top, #ffffff, #ffffff);background-image:linear-gradient(top, #ffffff, #ffffff);filter: progid:dximagetransform.microsoft.gradient(startColorstr=#ffffff, endColorstr=#ffffff, GradientType=0);filter: progid:dximagetransform.microsoft.gradient(enabled=false);}

 .btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {background-color:white;}

.navbar .nav-pills > li > a {
margin-left:2px;
margin-right:2px;
padding:10px 30px;
border-radius:5px;color:rgb(41, 41, 41);
background-color:#63812f
} 

.navbar .nav-pills > li > a:hover, .navbar .nav li.dropdown.open.active > .dropdown-toggle {color:rgb(255, 255, 255);background-color:#556B2F}

.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav li.dropdown.open > .dropdown-toggle, .navbar .nav li.dropdown.active > .dropdown-toggle {background:none}

.navbar .nav-pills > .active > a, .navbar .nav-pills > .active > a:hover, .navbar .nav-pills li.dropdown.open > .dropdown-toggle, .navbar .nav-pills li.dropdown.active > .dropdown-toggle {color:rgb(255, 255, 255);background-color:#556B2F;}

.navbar .ddmenu {margin-top:67px;margin-bottom:0px}

.navbar .nav-pills li.dropdown > .dropdown-toggle .caret, .navbar .nav-pills li.dropdown.open > .dropdown-toggle .caret, .navbar .nav-pills li.dropdown.active > .dropdown-toggle .caret, .navbar .nav-pills li.dropdown.open.active > .dropdown-toggle .caret {border-top-color:rgb(41, 41, 41);border-bottom-color:rgb(41, 41, 41);}

.navbar .nav-pills li.dropdown > .dropdown-toggle:hover .caret {border-top-color:rgb(255, 255, 255);border-bottom-color:rgb(255, 255, 255);}

.navbar .nav-pills li.dropdown.active > .dropdown-toggle .caret {border-top-color:rgb(255, 255, 255);border-bottom-color:rgb(255, 255, 255);}

.dropdown-menu .sub-menu {left:100%;position:absolute;top:0;visibility:hidden;margin-top:-1px;}

.dropdown-menu .sub-menu {
left:100%;
position:absolute;
top:0;visibility:hidden;
margin-top:-1px;
}
.dropdown-menu li:hover .sub-menu {visibility:visible;}
.navbar .btn-navbar-highlight {display:none;width:100%}


@media (max-width: 979px) {
     #divLogo {
        margin-bottom:10px;
    }
    .navbar .btn-navbar-highlight {
        display:inline;
        padding:9px 14px;margin-top:15px;
    }
    .navbar {
        width:100%;
    }
 #divMenuRight {float:none}
.dropdown-menu .sub-menu {
    left:0%;
    position:relative;
    top:0;
    visibility:visible;
    margin-top:3px;
    display:block
}
    .dropdown-menu, .sub-menu {
        border-radius:5px !important;
    }

    .navbar .ddmenu {
        margin-top: 0px;margin-bottom: 0px;
    }
}


@media (max-width: 767px) {    
    
    #divMenuRight {
        width:100%;
        margin-top: 0px;
        padding-top:0px
    }

    .ddmenu, .navbar .ddmenu {
        margin-top: 0px; 
        margin-bottom: 0px;
    }

    .navbar .btn-navbar-highlight {
        padding:9px 14px;
        margin-top:0px;
    }

    .navbar {
        width:100%;
        margin-top: 0px;
        padding-top:0px;
    }

    
    body {padding-top:0px;}

    
    #divFooter {
    margin-left:-20px;
    margin-right:-20px;
    padding-left:20px;
    padding-right:20px;
    }
    
    #divBoxed > #divFooter {
    margin-left:0px;
    margin-right:0px;
    padding-left:0px;
    padding-right:0px;}







